@use "../vars.scss" as *;

// Handles
.react-flow__handle {
	width: 8px;
	height: 8px;
	margin-top: 10px;

	background: white;

	border: 1.5px solid lightgrey;

	transition: border .2s;

	position: relative;

	&.connected {
		border-color: $node-blue-border;

		background-color: $node-blue-border-light;

		// &:before {
		// 	top: 1.5px;
		// 	left: 1px;

		// 	content: "";

		// 	width: 5.5px;
		// 	height: 5.5px;

		// 	background-color: $;

		// 	border-radius: 4px;

		// 	display: block;
		// 	position: relative;
		// }
	}
}

.react-flow__node.selected {
	.react-flow__handle {
		border-color: $node-blue-border;
	}
}
// --- Handles ---

.react-flow__node {
	width: fit-content;
	height: fit-content;

	box-sizing: border-box;

	background-color: white;

	border-radius: 5px;
	// border: 2px solid $node-blue-border;
	border: 1.5px solid $node-grey-border;

	box-shadow: 0 0 5px rgba($node-grey-border, .2);

	// overflow: hidden;

	transition: border .2s, box-shadow .2s;

	&.selected {
		border: 1.5px solid $node-blue-border;
		box-shadow: 0 0 5px rgba($node-blue-border, .2);

		.node-color {
			// opacity: 0;
		}
	}

	.node-color {
		width: 100%;
		height: 2px;

		background-color: $node-blue-border;
	}

	.node-name {
		width: 100%;
		height: fit-content;
		padding: 5px 10px;
		padding-left: 6px;

		box-sizing: border-box;

		background-color: #F9F9F9;
		
		border-radius: 4px;

		h3 {
			font-size: 17px;
			font-weight: normal;
		}

		img {
			width: 18px;
		}
	}
}

.table-node {
	.columns {
		padding: 5px;

		gap: 5px;

		position: relative;

		tr.column {
			align-items: center;

			position: relative;

			* {
				font-family: "JetBrains Mono";
			}

			td.column-type {
				padding-left: 10px;

				span {
					width: fit-content;
					// height: fit-content;
					padding: 2px 5px;
					margin-left: auto;

					background-color: #EDEFF4;

					border-radius: 3px;

					font-size: 12px;

					display: block;
				}
			}

			td.column-constraint {
				width: 0;
				padding: 0;

				span {
					width: fit-content;
					// height: fit-content;
					padding: 2px 3px;
					margin: auto;
					margin-left: 5px;

					background-color: #EDEFF4;

					border-radius: 2px;

					font-size: 12px;

					display: block;
				}
			}

			.react-flow__handle {
				// position: relative;

				visibility: hidden;

				&.react-flow__handle-left {
					margin-left: -10px;
					margin-top: 1px;
				}

				&.react-flow__handle-right {
					margin-right: -10px;
				}
			}
		}
	}
}

.query-node, .func-node {
	width: fit-content;

	* {
		font-family: "JetBrains Mono";
	}

	h3 {
		width: 100%;

		// color: #BD0000;
		color: #956CED;

		font-weight: bold !important;
	}

	.react-flow__handle {
		min-width: 8px;
		width: 8px;
		max-width: 8px;
	}

	.node-name {
		padding-bottom: 0;

		background: transparent;

		position: relative;

		.react-flow__handle[data-handlepos="left"] {
			margin-left: -6px;
		}

		.react-flow__handle[data-handlepos="right"] {
			margin-right: -10px;
		}
	}

	.row {
		align-items: center;
		position: relative;

		.bin {
			top: 9px;
			right: 12px;

			opacity: 0;

			position: absolute;

			transition: .2s;
		}

		&:hover {
			.bin {
				opacity: 1;
			}
		}
	}

	.rows {
		> div {
			align-items: center;
		}

		button {
			margin-left: auto;
		}
	}

	input {
	// div[contenteditable="true"] {
		width: 100%;
		max-width: 100%;
		padding: 5px;
		margin-block: 5px;
		margin-right: 8px;

		box-sizing: border;

		background-color: #F6F6F6;

		border-radius: 2px;

		font-size: 12px;

		cursor: text;
	}
}

.from-node {
	.node-name {
		
	}

	input {
		margin-bottom: 8px;
	}
}

.join-node {
	.node-name {
		select {
			font-size: 10px;
			border: 1px solid lightgrey;
			border-radius: 2px;
		}
	}

	> div:nth-child(2) {
		h3 {
			margin-left: 10px;
		}
	}
}

.list-node {
	min-width: 155px;

	.node-name {
		padding-bottom: 5px;

		h3 {
			color: $node-blue-border;

			span {
				color: inherit;

				font-size: 12px;

				line-height: 17px;
				vertical-align: middle;
			}
		}

		img {
			transform: rotate(90deg);
		}
	}
}

.order-by-node {
	.rows > div {
		button.ascDesc {
			width: 45px;
			height: 45px;
			margin: auto;
		}
	}
}

.func-node {
	h3 {
		width: 100%;

		color: #A700FF;

		font-weight: bold !important;
	}

	input {
		margin-bottom: 8px;
	}
}

.operator-func-node {
	.operator-func {
		width: 100%;
		
		select {
			margin: auto;
			margin-bottom: 3px;

			font-size: 15px;
			border: 1px solid lightgrey;
			color: grey;
			border-radius: 2px;

			display: block;
		}
	}
}