.react-flow__panel.bottom.center {
	width: 100%;
}

#table-panel {
	width: calc(100% - 30px);
	height: calc(25vh + 17px);
	padding: 10px;
	margin: auto;

	box-sizing: border-box;

	background: white;

	border-radius: 10px;

	box-shadow: 0 0 5px rgba(0, 0, 0, .1);

	display: block;
	position: relative;
	overflow: hidden;

	.thead {
		padding-bottom: 15px;

		// background-color: #F5F7FC;

		// border-radius: 5px;

		border-bottom: 1px solid lightgrey;


		cursor: default;

		p {
			width: 22%;
			color: grey;

			text-align: center;

			position: relative;

			span {
				color: grey;

				span {
					margin-inline: auto;

					font-family: "JetBrains Mono";
				}

				span:not(:last-child) {
					position: relative;

					&::before {
						content: "";

						width: 2px;
						height: 100%;

						background-color: lightgrey;

						border-radius: 1px;

						transform: translateX(35px);

						display: block;
						position: absolute;
					}
				}
			}
		}
	}

	.tbody {
		overflow: hidden;
		height: 100%;

		ul {
			margin-top: 5px;
		}

		.row {
			width: 100%;
			height: 50px;

			// background-color: #F5F7FC;

			border-radius: 5px;

			> * {
				width: 22%;
			}

			img {
				width: 15px;
				margin-top: 10px;
			}
		}
	}
}