@use "vars" as *;

/* Flex classes */
.flex-col {
	display: flex;
	flex-direction: column;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-col-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.flex-col-around {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.flex-col-evenly {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-row-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-row-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-row-around {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.flex-row-evenly {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.grid-center {
	display: grid;
	justify-content: center;
	align-items: center;
}
/* --- Flex classes --- */

/* Stylished */
@mixin dotted-background {
	background-image:
		radial-gradient(#94949c 7%, transparent 7%),
		radial-gradient(#94949c 7%, transparent 7%);
	background-color: $background-color-dark-shade;
	background-position: 0 0, 20px 20px;
	background-size: 20px 20px;
}
/* --- Stylished --- */

/* Inputs */
span.red {
	color: red !important;
}

span.text-purple {
	color: $text-violet;
}
/* --- Inputs --- */

button.hidden {
	background: transparent;
	border: none;
}

button.icon {
	width: 32px;
	height: 32px;

	border-radius: 7px;

	transition: .2s;

	&:hover {
		background: #F3F3F3;
	}

	&:active {
		background: #E4E4E4;
	}

	img {
		margin: auto;

		display: block;
	}
}