$background-color: #FDFDFD;
$background-color-dark-shade: #F8F8F8;

// Components
$default-button-color: #4000CD;

$node-blue-border: #4000CD;

$node-blue-border-light: #EFE8FF;
// $node-blue-border-light: #E0E3F7;
$node-grey-border: #D4D4D4;

$text-violet: #4000CD;