@use "vars" as *;
@use "classes" as *;

#home {
	width: 100%;
	height: 100vh;

	overflow: hidden;

	background-color: #fafafa;

	.project {
		width: calc(100% - 40px);
		height: fit-content;
		margin: 20px;
		padding: 15px;
		box-sizing: border-box;

		background-color: white;

		border: 1px solid #E4E4E4;
		border-radius: 10px;

		box-shadow: 0 0px 10px rgba(0, 0, 0, .01);

		cursor: pointer;
		overflow: hidden;
		position: relative;

		transition: .4s;

		&:hover {
			box-shadow: 0 0 30px rgba(0, 0, 0, .05);
		}

		&:active {
			border-color: $node-blue-border;
		}

		> div {
			gap: 10px;

			h3.project__name {
				font-weight: 600;
			}

			p.project__description {
				max-width: 65vw;

				color: #BEBEBE;

				font-weight: 350;
			}
		}

		button.icon {
			width: 40px;
			height: 40px;

			margin-block: auto;

			img {
				width: 24px;
				height: 24px;

				filter: opacity(.5);
			}
		}
	}
}