@use "vars" as *;

#landing {
	width: 100%;
	height: 100vh;

	align-items: center;

	h1 {
		font-size: 100px;
		font-weight: 400;

		text-align: center;

		span.text-purple {
			font-weight: 700;
		}
	}

	h3 {
		padding-top: 30px;

		color: #9F9F9F;

		font-size: 25px;
		font-weight: 400;
		font-style: italic;

		text-align: center;
	}
}