@use "vars" as *;
@use "classes" as *;

$header-height: 101px;

#project {
	width: 100%;
	height: 100%;

	overflow: hidden;

	header {
		height: $header-height;

		.project_url {
			height: 100%;
			padding-left: 10px;

			gap: 10px;

			align-items: flex-end;

			img {
				width: 20px;
				height: 20px;
				padding: 5px;

				// background: #F2F4F8;

				border-radius: 5px;
				border: 1.5px solid lightgrey;

				cursor: pointer;
			}

			p {
				color: grey;

				line-height: 38px;

				cursor: pointer;

				span {
					color: black;

					cursor: default;
				}
			}
		}
	}

	#overview, #documentation {
		width: 100%;
		min-height: calc(100vh - $header-height - 1px);
		height: fit-content;
		padding: 40px 25%;

		box-sizing: border-box;

		@include dotted-background;

		position: relative;

		&::after {
			content: "";

			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;

			background: linear-gradient(to bottom, $background-color-dark-shade, transparent);

			display: block;
			position: absolute;

			z-index: 0;
		}

		* {
			position: relative;

			z-index: 1;
		}

		button {
			width: fit-content;
			height: 40px;
			padding-inline: 20px;
			margin: 50px auto;

			background-color: #EBEBEB;

			border-radius: 5px;

			border: none;

			color: #6D6D6D;

			display: block;

			transition: .25s;

			&:hover {
				box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
			}

			&[type="submit"] {
				background-color: #6D41E2;

				color: white;

				font-weight: bold;

				&:hover {
					box-shadow: 0px 0px 5px #6D41E2FF;
				}
			}
		}

		textarea {
			width: 100%;
			height: 65vh;
		}

		.react-markdown {
			a {
				color: #6D41E2FF;

				transition: .2s;

				&:hover {
					color: #B341E2
				}
			}
		}
	}

	nav#file_explorer {
		min-width: fit-content;
		width: 15%;
		height: calc(100vh - $header-height - 1px);

		align-items: center;
		
		.hierarchy {
			width: 90%;
			height: fit-content;
			margin-inline: auto;

			overflow: hidden;
		}

		border-right: 1px solid lightgrey;
	}

	div#code_section, div#test_section {
		width: 100%;
		height: calc(100vh - $header-height - 1px);
	}

	#settings {
		padding: 20px 10px 0 40px;

		box-sizing: border-box;

		h1 {
			font-weight: 600;

			margin-bottom: 30px;
		}

		nav {
			width: fit-content;
			margin-bottom: 30px;
			margin-left: -12px;

			gap: 10px;

			p {
				padding: 7px 12px;

				border-radius: 5px;

				font-weight: 550;
				color: grey;

				transition: .2s;

				cursor: pointer;

				&.selected {
					background-color: #F1F3F1;

					color: black;
				}
			}
		}

		> div {
			padding-right: 40px;
			height: calc(100vh - $header-height - 66px - 20px);

			overflow: auto;

			section {
				width: calc(100%);
				margin-bottom: 20px;

				position: relative;

				&:not(:last-child) {
					padding-bottom: 20px;

					border-bottom: 1px solid #D3D3D3;
				}

				h3 {
					font-weight: 550;
				}

				dl {
					margin-top: 5px;
					margin-bottom: 20px;

					dt {
						min-width: 350px;
						width: 350px;
						max-width: 350px;
						color: grey;

						font-weight: 300;

						font-style: italic;
					}
				}

				input {
					width: 300px;
					height: 30px;
					margin: 0;
					margin-left: 50px;

					transform: translateY(50%);

					font-family: "JetBrains Mono";
				}

				select {
					min-width: 300px;
					height: 30px;
					padding: 5px 10px;
					margin: 0;
					margin-left: 50px;

					box-sizing: content-box;

					border-radius: 5px;
					border: 1px solid lightgrey;

					transform: translateY(50%);

					font-family: "JetBrains Mono";

					cursor: select;
				}
			}
		}		
	}
}